{% extends "blog/layout.html" %}
{% block content %}
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table class="table table-bordered table-hover">
                        {{ form.as_table }}
                    </table>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
