{% extends "blog/layout.html" %}
<style>
    @media (max-width: 600px) {    body {        background-color: green;    } }
</style>
{% block content %}
    <div class="container">
        <div class="row">
            <table class="table table-bordered table-hover" id="post-list">
                <tbody>
                {% include "blog/_post_list.html" %}
                </tbody>
            </table>
            <a id="load-more-btn" class="btn btn-primary">Load More ...</a>
            <hr/>
            <a href="{% url 'blog:post_new' %}" class="btn btn-primary">새 글쓰기</a>
        </div>
    </div>
{% endblock %}
{% block extra_body %}
    <script>
        $(function () {
            var $win = $(window);
            var is_loading = false;
            var current_page = null;

            var load_more = function(){
                if (!is_loading) {
                    console.log('More');
                    {#                    var search_params = new URLSearchParams(window.location.search); // 현재 페이지의 GET인자를 가공#}
                    {#                    var current_page = parseInt(search_params.get('page')) || 1;     // GET인자 page를 획득하고 없으면 1을 반환#}
                    var next_page = (current_page || 1) + 1;
                    var next_page_url = '?page=' + next_page;
                    {#                    var next_page_url = '?page=' + (current_page + 1);#}
                    is_loading = true;
                    $.get(next_page_url).done(function (html) {
                        $('#post-list tbody').append(html);
                        current_page = next_page;
                        {#                        history.pushState({}, '', next_page_url);#}
                    }).fail(function (xhr, textStatus, error) {
                        console.log(textStatus);
                    })
                        .always(function () {
                            console.log("always");
                            is_loading = false;
                        });
                }
            };

            $win.scroll(function(){
                var diff = $(document).height() - parseInt($win.height());
                if (diff == $win.scrollTop() ) {
                    console.log("바닥!")
                    load_more();
                }
            });
            $("#load-more-btn").click(load_more);

            $(document).on('click', '#post-list a', function(e){
                e.preventDefault();
                var url = $(this).attr('href');
                var title = $(this).html();
                var $modal = $("#post-modal");

                $.get(url).done(function(json_object){
                    $modal.find('.modal-title').html(json_object.title);
                    $modal.find('.modal-body').html(json_object.summary);
                    $modal.find('.btn-detail').attr('href', url);
                    $modal.modal();
                })
                    .fail(function(xhr, textStatus, error){
                        alert('failed : ' + error );
                    });

            });
        });
    </script>

    <div class="modal fade" id="post-modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">포스팅 제목</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...<br/>
                    ...<br/>
                    ...<br/>
                    ...<br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                    <a class="btn btn-primary btn-detail">자세히</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}