{% extends "blog/layout.html" %}
<style>
    @media (max-width: 600px) {    body {        background-color: green;    } }
</style>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12" id="post-list-wrapper">
                {% include "blog/_post_list.html" %}
                <hr/>
                <a id="page-2-btn" href="#">2페이지 로딩</a>
                <a href="{% url 'blog:post_new' %}" class="btn btn-primary">새 글쓰기</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_body %}
    <script>
        $(function () {
            $("#page-2-btn").click(function(e){
                $.get('?page=2')
                    .done(function(html){
                        console.log(html);
                        $('#post-list-wrapper').html(html);
                    })
                    .fail(function(){
                        console.log('fail')
                    })
                    .always(function(){
                        console.log('always')
                    });
                return false;
            });
        })
    </script>
{% endblock %}