{% extends "blog/layout.html" %}
{% load bootstrap3 %}
{% block content %}
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <form action="" method="POST">
                    {% csrf_token %}
                    <table class="table table-hover table-bordered">
{#                        {{ form.as_table }}#}
                        {% bootstrap_form form %}
                    </table>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
