{% extends "blog/layout.html" %}
{% block content %}
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <h1>{{ post.title }}</h1>
                {{ post.content|linebreaks }}

                <hr/>
                <a href="{% url "blog:comment_new" post.pk %}" class="btn btn-primary btn-block">댓글 쓰기</a>

                {% for comment in post.comment_set.all %}
                    <li>
                        {{ comment.message }}
                        <a href="{% url "blog:comment_edit" post.pk comment.id%}">
                            &dash;<small> {{ comment.updated_at }} </small>
                        </a>

                        <a href="{% url "blog:comment_delete" post.pk comment.id%}">
                            <small> 삭제 </small>
                        </a>
                    </li>
                {% endfor %}
                <hr/>
                <a href="{% url "blog:index" %}" class="btn btn-primary">목록으로</a>
                <a href="{% url "blog:post_edit"  post.id %}" class="btn btn-primary">수정</a>
                <a href="{% url "blog:post_delete"  post.id %}" class="btn btn-danger">삭제</a>
            </div>
        </div>
    </div>
{% endblock %}
